language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - hhvm-nightly

matrix:
  allow_failures:
    - php: 5.5
    - php: 5.6
    - php: hhvm
    - php: hhvm-nightly

before_script:
  - mysql -e 'CREATE DATABASE titon_test;'
  - composer selfupdate
  - composer install

notifications:
  email: false